<div class="container">
  <div class="row">
    <div class="col-md-1">Name</div>
	<div class="col-md-1"><input type="text" ng-model="name" ng-focus="clearMessages()"></div>
  </div>
  <div class="row">
    <div class="col-md-1">Address</div>
	<div class="col-md-1"><input type="text" ng-model="address" ng-focus="clearMessages()"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"><button type="submit" ng-click="customerAdd()">Add</button></div>	
  </div>
   <br>
  <div class="row">
	<div class="col-md-6">
		<div class="panel panel-warning" ng-show="warning">
			<div class="panel-heading">Please fill in all details!!</div>			
		</div>
	</div>
  </div>
  <div class="row">
	<div class="col-md-8">  
		<div class="panel  panel-success" ng-show="success">
			<div class="panel-heading">User Added Successfully!!</div>
		</div>
	</div>
  </div>
</div>