<div class="container">
	<div class="row">
		<div class="col-md-3">
			<input type="text" placeholder="Search Customer" ng-model="customerName">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<pagination total-items="totalItems" items-per-page="itemsPerPage" boundary-links="true" class="pagination-sm"  
					max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()">
			</pagination>
		</div>
	</div>
	<div class="row">
		<!-- This column is for showing the Invoice Lists for each customer -->
		<div class="col-md-4">
				<div class="panel panel-info" ng-repeat="customer in filteredCustomerIdNameMap | filter:customerName">
					<!-- Default panel contents -->
					<div class="panel-heading">
					 	<h3 class="panel-title">Customer : <a ui-sref="invoice.list.showCustomerDetails({cusId : customer.id})"><u>{{customer.name}}</u></a></h3>
					</div>

					<!-- Directive -->
					<invoice-table-directive customer="customer" customer-data-list="customerDataList"></invoice-table-directive>

				</div>				
		</div>
		
		<!-- This is for showing Customer Details/Particular Invoice Details -->
		<div class="col-md-4 col-md-offset-1">
	    	<div ui-view></div>
		</div>

	</div>
	
</div>