
<table class="table">
	<tbody>
		<tr>
			<th>Sr No</th>
			<th>InvoiceID</th>
			
		</tr>
		<tr ng-repeat="invoiceId in filteredInvoices">
			<td>{{$index + 1}}</td>
			<td><a ui-sref="invoice.list.showInvoiceDetails({invoiceId : invoiceId})">{{invoiceId}}</a></td>
			
		</tr>
	</tbody>
</table>
<div class="panel-footer invoice-panel-footer">
	<pagination total-items="totalInvoices" items-per-page="invoicesPerPage" boundary-links="true" 
				class="pagination-sm invoice-table-pagination"  
				max-size="maxSize" ng-model="currentPage" rotate="false" num-pages="numPages" 
				previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" 
				last-text="&raquo;" ng-change="pageChanged()">
	</pagination>
</div>

