<div class="container">
	<div class="row">
		<div class="col-md-3">
			<input type="text" placeholder="Search Customer" ng-model="customerName">
		</div>
	</div>
	<div class="row">
		<!-- This column is for showing the Invoice Lists for each customer -->
		<div class="col-md-6">


				<div class="panel  panel-info" ng-repeat="customer in customerIdNameMap | checkInvoices | filter:customerName">
				  <!-- Default panel contents -->
				  <div class="panel-heading"><b>Customer : <a ui-sref="invoice.list.showCustomerDetails({cusId : customer.id})"><u>{{customer.name}}</u></a></b></div>
				
				  <!-- Table -->
				  <table class="table">
				    	<tbody>
						<tr>
							<th>Sr No</th>
							<th>InvoiceID</th>
							
						</tr>
						<tr ng-repeat="invoiceId in customerDataList[customer.id].invoices">
							<td>{{$index + 1}}</td>
							<td><a ui-sref="invoice.list.showInvoiceDetails({invoiceId : invoiceId})">{{invoiceId}}</a></td>
							
						</tr>
					</tbody>
				  </table>
				  
				</div>

		</div>
		
		<!-- This is for showing Customer Details/Particular Invoice Details -->
		<div class="col-md-6">
	    	<div ui-view></div>
		</div>

	</div>
	
</div>